/*task 1*/
.fade-in-image{
    animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  position: relative;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .card-artist{
      font-weight: bold; 
  }
  .card-year{
      font-weight: bold;
  }
  .card-badge{
      top: 0;
      left: 0;
    position: absolute;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    }
    table {
        font-size: 1.125rem;
    }

    table tbody>:nth-child(odd) {
        background-color: white;
        color: black;
    }
    table tbody>:nth-child(even) {
        background-color: white;
        color: greenyellow;
    }
    .img-hover-zoom {
        overflow: hidden;
        cursor: pointer;
    }

    .img-hover-zoom img {
        transition: transform 0.9s ease;
    }

    .img-hover-zoom:hover img {
        transform: scale(1.5);
    }
    .btn-lg {
        position: relative;
        margin-bottom: 40px;
    }

    .btn-lg:hover {
        border: none;
    }

    .addTrackBtn:after {
        content: '';
        left: -6px;
        top: -4px;
        position: absolute;
        width: 0;
        height: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: #5c636a;
        border-color: #5c636a;
        transition: width height 1s ease-in;
    }

    .addTrackBtn:hover:after {
        width: 110%;
        height: 115%;
    }